.main-screen{
   background-color: black;
   width: 100%;
   height: 895px;
   padding-top: 30px;
}
.main-content {
    display: inline-block;
}
.text-categories {
    font-family: 'BlenderPro';
    font-size: 48px;
    color: #FCEC0C;
    margin-left: 100px;
}
.categories-wrap {
    display: inline-block;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 200px;
    width: calc(682 / 1920 * 100vw);
}
.car-wrap {
    margin-bottom: 100px;
}
.categories__car {
    font-family: 'BlenderPro';
    font-size: 48px;
    color: #FCEC0C;
}
.desc-categories__car {
    color:#FCEC0C;
    font-family: 'BlenderPro';
    font-size: 40px;
}
.moto-wrap {
    margin-bottom: 100px;
}
.categories__moto {
    font-family: 'BlenderPro';
    font-size: 48px;
    color: #FCEC0C;
}
.desc-categories__moto {
    color:#FCEC0C;
    font-family: 'BlenderPro';
    font-size: 40px;
}
.categories__implant {
    font-family: 'BlenderPro';
    font-size: 48px;
    color: #FCEC0C;
}
.desc-categories_implant {
    font-family: 'BlenderPro';
    font-size: 40px;
    color: #FCEC0C;
}
.location-desc__wrap {
    display: inline-block;
    position: absolute;
    width: calc(682 / 1920 * 100vw);
    margin-left: calc(170 / 1920 * 100vw);
}
.location-description {
    color:#FCEC0C;
    font-family: 'BlenderPro';
    font-size: 32px;
}
.location-img {
    border: 2px solid #FCEC0C;
    max-width: calc(682 / 1920 * 100vw);
}
.footer__wrap {
    width: 100%;
    height: 85px;
    background-color: #FCEC0C;
    padding-top: 20px;
}
.footer__text {
    font-family: 'BlenderPro';
    font-size: 32px;
    margin-left: 60px;
}

@media screen and (max-width: 1200px) {
    .main-screen {
        height: 90vh;
    }
    .text-categories {
        margin-left: 50px;
    }
    .categories-wrap {
        margin-left: 100px;
    }
    .desc-categories__car {
        font-size: 32px;
    }
    .desc-categories__moto {
        font-size: 32px;
    }
    .desc-categories_implant {
        font-size: 32px;
    }
    .location-description {
        font-size: 24px;
    }
    .footer__wrap {
        height: 95px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }
    .footer__text {
        font-size: 24px;
        margin-left: 20px;
    }

}
@media screen and (max-width: 768px) {
    .main-screen {
        height: 829px;
    }
    .text-categories {
        margin-left: 20px;
        font-size: 28px;
    }
    .categories-wrap {
        margin-left: 40px;
        margin-top: 70px;
    }
    .desc-categories__car {
        font-size: 28px;
    }
    .desc-categories__moto {
        font-size: 28px;
    }
    .desc-categories_implant {
        font-size: 28px;
    }
    .location-desc__wrap {
        margin-top: 70px;
    }
    .location-description {
        font-size: 18px;
    }
    .categories__car {
        font-size: 28px;
    }
    .categories__moto {
        font-size: 28px;
    }
    .categories__implant {
        font-size: 28px;
    }
    .car-wrap {
        margin-bottom: 60px;
    }
    .moto-wrap {
        margin-bottom: 60px;
    }
}